@charset "UTF-8";

/* header */
header {
	color: white;
	width: 100%;
	height: 67px;
	background-image: url("../img/common/header_bg.png");
	background-repeat: repeat-x;
	position: fixed;
	top: 0;
}

.header_wrap {
	width: 47.9166%;
	height: 67px;
	margin: 0 auto;
	overflow: hidden;
	/* position:absolute; */
	/* margin-top 줄때, 후손의 margin-top이 부모의 margin-top보다 클 때 큰 것을 따라간다. 자손도 부모에서부터가 아니라 밖에서부터 margin top값을 측정한다. */
	/* 	padding: 13px 0;
	box-sizing: border-box; */
}

.header_logo {
	/* position: absolute;
	top:13px; */
	padding-top: 13px;
	float: left;
}

.header_nav {
	float: left;
	/* 	position: absolute;
		left: 750px; */
	margin-left: 220px;
}

.header_nav li {
	float: left;
	line-height: 67px;
	margin-right: 15px;
	font-weight: bold;
	font-size: 13px;
}

.header_subnav {
	padding-top: 26px;
	float: right;
	/* 	position: absolute;
top: 26px;
right:300px; */
}

.header_subnav li {
	float: right;
	/* line-height: 67px; */
	margin-left: 15px;
	font-size: 10px;
	color: #a2a1a1;
}

.header_nav a {
	color: white;
}

.header_subnav a {
	color: #a2a1a1;
}

.header_nav a:hover {
	/* a태그 위에 마우스가 올라갔을때 */
	color: red;
}

.header_subnav a:hover {
	/* a태그 위에 마우스가 올라갔을때 */
	color: white;
}

/* main */
.main {
	clear: both;
	width: 47.9166%;
	min-height: 900px;
	/* 	
 	최소높이만 지정한다.
	페이지마다 높이가 상대적이다.
	min-width: ;
	최소 너비 지정
	max-height:; 최대 길이 지정
	max-width:; 최대 너비 지정
	*/
	margin: 0 auto;
	margin-top: 80px;
}

aside {
	background-color: black;
	color: white;
	position: fixed;
	top: 300px;
	right: 0;
	padding: 3px;
	text-align: center;
	width: 38px;
	s
}

aside li {
	padding: 5px;
}

body {
	background-color: rgb(240, 240, 240);
}

/* footer */
footer {
	width: 100%;
	height: 132px;
	margin-top: 52px;
	background-image: url("../img/common/header_bg.gif");
	overflow: hidden;
	/* margin top을 쓸 때 버그로 큰 값따라가므로 그 설정을 없앤다. */
}

.footer_wrap {
	width: 47.9166%;
	height: 132px;
	margin: 0 auto; /* 수평정렬 */
	overflow: hidden;
	/* 	padding-top: 40px;
	위에서부터 내린다.
	box-sizing: border-box; */
	margin-top: 20px;
}
/*  */
.footer_logo {
	float: left;
}

.footer_info {
	float: left;
	width: 60%;
	height: 100%;
	margin-left: 3.0726%;
	/* 20픽셀을 퍼센트로 준다. 
	픽셀은 그 크기를 유지하려고 하지만
	퍼센트는 그 비율만을 유지하려고 한다.  
	따라서 픽셀보다는 퍼센트로 지정하는 것이 좋다.*/
}

.footer_link {
	float: right;
	width: 20%;
	height: 100%;
}

.footer_info_sub1 {
	font-size: 0.7em;
	/* 	em : 배율  / rem : 전체에서의 배율
	폰트도 픽셀보다 배율로 하는게 내가 보는 화면사이즈에 맞게 설정된다. */
	color: #a9a9a9;
}

.footer_info_sub2 {
	font-size: 0.7em;
	color: #a9a9a9;
	padding-top: 5px;
}

.footer_info_sub2>span {
	font-size: 0.5em;
	color: #717171;
}

.footer_link {
	text-align: right;
}

.footer_link select {
	width: 100%;
	border: 0; background-color : #4a4a4a;
	color: #a9a9a9;
	background-color: #4a4a4a;
	/* 셀렉트 태그에 값을 주려면 직접 select를 지정해서 색을 지정해 주어야 한다. */
}

/*  */
/* .footer_logo {
	float: left;
	padding-top: 20px;
}

.footer_nav {
	float: left;
	padding-top: 20px;
	margin-left: 25px;
	padding-bottom: 5px;
	overflow: hidden;
}

.footer_nav li {
	float: left;
	margin-right: 5px;
	font-size: 11px;
	color: #a9a9a9;
	font-weight: bold;
}

.footer_nav a{
	color: #a9a9a9;
}

.footer_nav a:hover{
	color: #a9a9a9;
}

.footer_text{
	float: left;
	margin-left: 25px;
}

.p1 {
	color: #a9a9a9;
	font-size: 11px;
	font-weight: bold;
}

.p2 {
	color: #717171;
	font-size: 10px;
}


.footer_select {
 	float: right;
 	padding-top: 20px;
}

.footer_select select {
	background-color: #4a4a4a;
	color: #a9a9a9;
	font-size:13px;
	width: 130px;
	height: 23px;

} */